@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Munition Stock and Supply</h1>
    <p>Please take a look at our inventory @Html.ActionLink("here", "Inventory", "Home")</a>.</p>
</div>
